@model Movies
@{
    ViewData["Title"] = "Add Movie";
}
<h2>Add Movie</h2>
<form method="post" asp-asp-controller="Movie">
    <div class="border p-3 mt-4">
        <div class="form-group">
            <label asp-for="@Model.Movie_Name">Movie Name:</label><br>
            <input asp-for="@Model.Movie_Name" id="Movie_Name" class="form-control" type="text" placeholder="Movie Name" />
            <span asp-validation-for="@Model.Movie_Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Movie_Name_Confirmation">Movie Name:</label><br>
            <input asp-for="@Model.Movie_Name_Confirmation" id="Movie_Name_Confirmation" class="form-control" type="text" placeholder="Movie Name Confirmation" />
            <span asp-validation-for="@Model.Movie_Name_Confirmation" class="text-danger"></span>
        </div>
        <div class="mt-2">
            <label asp-for="@Model.MovieCategory_Id">Movie Category:</label><br />
            <select class="form-control" asp-items="Model.Categories" asp-for="@Model.MovieCategory_Id">
                <option>-- Select --</option>
            </select>
            @* <span asp-validation-for="@Model.MovieCategory_Id" class="text-danger"></span> *@
        </div>
        <div class="mt-2">
            <label asp-for="@Model.Movie_Price" name="Movie_Price">Movie Price:</label><br />
            <input asp-for="@Model.Movie_Price" class="form-control" id="moviePrice" type="number" step="0.01" placeholder="$Price" />
            <span asp-validation-for="@Model.Movie_Price" class="text-danger"></span>
        </div>

    </div>
    <div>
        <button class="btn btn-primary mt-2" type="submit">Submit</button>
    </div>

</form>

<div class="mt-2">
    <label for="fileUpload">Choose File</label>
    <input type="file" id="fileUpload" />
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
@* jquery *@

<script>
    $(document).ready(function () {
        $('#fileUpload').on('change', function () {
            var formData = new FormData();
            var files = $('#fileUpload')[0].files[0];
            formData.append('file', files) // key is file and value is files
            uploadFiles(formData);
        });
    });

    function uploadFiles(formData) {
        $.ajax({
            url: '@Url.Action("UploadFiles", "Movie")',
            method: "POST",
            data: formData,
            contentType: false, // Prevent jQuery from overriding content type
            processData: false, // Prevent jQuery from processing the data
            success: function (data) {
                alert(data)
            },
            error: function (data) {
                alert("Upload file!");
            }
        });
    }
</script>